<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find fcu_sim)/worlds/basic.world"/>
    <arg name="paused" value="true"/>
  </include>

  <arg name="mav_name1"            default="snowspeeder"/>
  <arg name="enable_logging"      default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file"            default="$(arg mav_name1)" />

  <group ns="rogue1">
  <!-- Spawn MAV -->
  <include file="$(find fcu_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name1)" />
    <arg name="model"               value="$(find fcu_sim)/urdf/$(arg mav_name1)/$(arg mav_name1)_base.xacro" />
    <arg name="enable_logging"      value="$(arg enable_logging)" />
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
    <arg name="log_file"          value="$(arg log_file)"/>
  </include>

  <node name="autopilot1" pkg="ros_plane" type="ros_plane_controller" >
    <!-- <remap from="command" to="autopilot_command"/> -->
    <remap from="state" to="truth"/> <!--  -->
    <param name="PITCH_KD" value="-0.4"/>
  </node>

  <node name="estimator1" pkg="ros_plane" type="ros_plane_estimator" output="screen">
    <remap from="/baro/data" to="baro/data"/>
    <remap from="/imu/data" to="imu/data"/>
    <remap from="/airspeed/data" to="airspeed/data"/>
  </node>

  <node name="chase1" pkg="image_view" type="image_view">
    <remap from="image" to="camera/chase/rgb"/>
  </node>
  <!-- Added Stuff Below-->
  <node name="path_manager1" pkg="ros_plane" type="ros_plane_path_manager" >
  <remap from="state" to="truth"/>
  </node>
  <!-- Added Stuff Above-->
  <!--<node name="reconfig" pkg="rqt_reconfigure" type="rqt_reconfigure"/> -->

  <node name="path_follower1" pkg="ros_plane" type="ros_plane_follower" >
  <remap from="state" to="truth"/>
  </node>

  </group>

<arg name="mav_name2"            default="Millennium_Falcon"/>
<arg name="log_file2"            default="$(arg mav_name2)" />

<group ns="goldleader">
  <include file="$(find fcu_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name2)" />
    <arg name="model"               value="$(find fcu_sim)/urdf/$(arg mav_name2)/$(arg mav_name2)_base.xacro" />
    <arg name="enable_logging"      value="$(arg enable_logging)" />
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
    <arg name="log_file"          value="$(arg log_file2)"/>
    <arg name="x" default="1500.0"/>
    <arg name="y" default="-400.0"/>
    <arg name="yaw" default="3.1459"/>
    <arg name="z" default="20.0"/>
  </include>

  <node name="autopilot2" pkg="ros_plane" type="ros_plane_controller" >
    <!-- <remap from="command" to="autopilot_command"/> -->
    <remap from="state" to="truth"/> <!--  -->
    <param name="PITCH_KD" value="-0.4"/>
  </node>

  <node name="estimator2" pkg="ros_plane" type="ros_plane_estimator" output="screen">
    <remap from="/baro/data" to="baro/data"/>
    <remap from="/imu/data" to="imu/data"/>
    <remap from="/airspeed/data" to="airspeed/data"/>
  </node>

  <node name="chase2" pkg="image_view" type="image_view">
    <remap from="image" to="camera/chase/rgb"/>
  </node>
  <!-- Added Stuff Below-->
  <node name="path_manager2" pkg="ros_plane" type="ros_plane_path_manager" >
  <remap from="state" to="truth"/>
  </node>
  <!-- Added Stuff Above-->
  <!--<node name="reconfig" pkg="rqt_reconfigure" type="rqt_reconfigure"/> -->

  <node name="path_follower2" pkg="ros_plane" type="ros_plane_follower" >
  <remap from="state" to="truth"/>
  </node>

</group>



</launch>
